{% extends 'shop/basic.html' %}

 {% block title %}

Checkout - My Awesome Cart
 
 {% endblock %}

{% block body %}
	<div class="container">
			<div class="col my-4">
		<h2> Step 1 - My Awesome Cart Tracker - Enter your order id and Email address to track Your Items</h2>
		<form  method='POST' action="#" id="trackerform">
	{% csrf_token %}
  	<input type="hidden" name="itemsJson" id="itemsJson">
<div class="form-row">
  	
    <div class="form-group col-md-6">
      <label for="inputEmail4">Order id</label>
      <input type="name" class="form-control" name="orderid" id="inputEmail4">
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4">
    </div>
  </div>
    <button type="submit" class="btn btn-primary">Get Status</button>


</form>
	</div>



	<div class="col my-4">
		<h2>Youur order status</h2>
		<div class="my-4">

			<ul class="list-group" id="items">
  				Enter your order id and click on get status to get details
			</ul>
		<br>
		<h2>Youur order details</h2>
		<div class="my-4">

			<ul class="list-group" id="citems">
			</ul>
		</div>


 {% endblock %}

{% block js %}
<script>
$('#trackerform').submit(function(event){

	$('#items').empty();
	var formData={
		'orderid':$('input[name=orderid]').val(),
		'email':$('input[name=email]').val(),
		'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),

	};
	$.ajax({

		type:'POST',
		url :'/shop/tracker/',
		data: formData,
		encode: true
	})
	.done(function(data){
		console.log(data)
		data=JSON.parse(data);

		updates=data[0];
		if (updates.length>0 & updates!={}){

		 for(i=0;i<updates.length;i++){
    	let text=updates[i]['text'];
    	let time=updates[i]['time'];
    	mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    		${text}
    		<span class="badge badge-primary badge-pill">${time}</span>
  		</li>`
  		$('#items').append(mystr);
    }

}
else{
mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    		Sorry, please enter the correct order id
  		</li>`
$('#items').append(mystr);

}

//fill the details
cart=JSON.parse(data[1]);
 for(item in cart){
    	let name=cart[item][1];
    	let qty=cart[item][0];
    	mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    		${name}
    		<span class="badge badge-primary badge-pill">${qty}</span>
  		</li>`
  		$('#citems').append(mystr);
    }



	});
	event.preventDefault();

})
</script>


{% endblock %}